Backend/LMS.json
{
  "name": "LMS-1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-quiz",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "47912f4f-077d-484b-8739-095b5b222a83",
      "name": "Frontend Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        304
      ],
      "webhookId": "8b8afaef-2757-43da-b55b-51b330d6df71"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=System: You are a quiz generator. You MUST return ONLY a raw JSON array. Do not use markdown tables.\n\nUser: Generate {{ $json.body.questionCount || 5 }} MCQ questions based on this text: {{ $json.body.context }}. \nDifficulty: {{ $json.body.difficulty }}.\nRequired Format: \n[\n  {\n    \"questionText\": \"...\",\n    \"questionType\": \"mcq-single\",\n    \"options\": [\n      { \"text\": \"...\", \"isCorrect\": true },\n      { \"text\": \"...\", \"isCorrect\": false },\n      { \"text\": \"...\", \"isCorrect\": false },\n      { \"text\": \"...\", \"isCorrect\": false }\n    ],\n    \"explanation\": \"...\"\n  }\n]",
        "batching": {}
      },
      "id": "e6edcd26-32ba-4146-b308-50adf597b1b9",
      "name": "AI Analyzing",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "model": "openrouter/auto",
        "options": {}
      },
      "id": "456b4f3c-00a0-4edf-adea-a1e5b1bfa040",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        544,
        528
      ],
      "credentials": {
        "openRouterApi": {
          "id": "zER34E5LGvRxnRE1",
          "name": "OpenRouter account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Step: JSON Format processing\n// LangChain nodes return result in .text property\nconst aiResponse = $node[\"AI Analyzing\"].json.text;\nlet cleanData = aiResponse.trim();\nif (cleanData.startsWith('```json')) {\n  cleanData = cleanData.replace(/^```json/, '');\n}\nif (cleanData.startsWith('```')) {\n  cleanData = cleanData.replace(/^```/, '');\n}\nif (cleanData.endsWith('```')) {\n  cleanData = cleanData.replace(/```$/, '');\n}\ncleanData = cleanData.trim();\n\nconst questions = JSON.parse(cleanData);\n\n// We return A SINGLE ITEM containing the full array of questions.\n// This ensures n8n sends the entire array in one webhook response body.\nreturn [{ json: { questions } }];"
      },
      "id": "9a616ea2-35db-4a04-97ea-001de39ee051",
      "name": "JSON Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        304
      ]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "id": "8db24360-13ed-4698-832c-2e4915e26ac1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1040,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Frontend Request": {
      "main": [
        [
          {
            "node": "AI Analyzing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analyzing": {
      "main": [
        [
          {
            "node": "JSON Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Analyzing",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "JSON Format": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e6df332e-50f8-4e1d-b19b-1fe9c11162ec",
  "meta": {
    "instanceId": "ac53766b75ba98327cb8367953362c144cd1e7b33149a3b252d1556380af54e8"
  },
  "id": "enfgBhyTDD9G2KtH",
  "tags": []
}